body {
	font-family: helvetica, sansserif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	height: 130px;
	background-color: gray;
	color: white;
	align-items: center;
	justify-content: center;
	width: 100%;
	box-shadow: 2px 2px 2px black;
}

h1 {
	position: relative;
	font-size: 45px;
	text-align: center;
	text-shadow: 3px 3px 3px black;
}

.board {
	position: relative;
	display: grid;
	grid-template-columns: 133px 133px 133px;
	grid-template-rows: 133px 133px 133px;
	align-items: center;
	text-align: center;
	font-size: 80px;
	margin: 20px;
	width: 400px;
	height: 400px;
	background-color: beige;
	border: 1px solid black;
	background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fspacecoding.files.wordpress.com%2F2013%2F07%2Femptyboard.png&f=1&nofb=1");
}

marker {
	position: relative;
	
}



